<div class="contents row">
  <div class="container">
    <div class="columns is_multiline">
      <%= @books.each do |book| %>
        <div class="colum is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= book.image%>
              </figure>
            </div>
            <div class="card-title">
              <span><%= book.title %><br><%= book.author %></span> %>
            </div>
          </div>
       </div>
      <% end %>
      <p><%= link_to "読んだ本を登録する", new_book_path %></p>
    </div>
  </div>
</section>