<div class="contents row">
  <div class="container">
   <h2>読んだ本を登録する</h2>
   <%= form_with(model: @book, local: true) do |f| %>
      <%= f.label :title, "タイトル" %>
      <p><%= f.text_field :title %></p>
      <%= f.label :image, "画像" %>
      <p><%= f.file_field :image %></p>
      <%= f.label :author, "作者" %>
      <p><%= f.text_field :author %></p>
      <%= f.label :description, "感想"%>
      <p><%= f.text_area :description %></p>
      <%= f.label :date, "日付" %>
      <p><%= f.date_field :date %></p>
      <%= f.submit "登録" %>
    <% end %>
  </div>
</div>